---
import Page from "@layouts/Page.astro";
---
<Page title="Portfolio">
    <section id="hats">
        <h2 class="section">Hats</h2>
        <div id="images">
            <img src="hats/propeller_hat.png">
            <img src="hats/jotaro_hat.png">
            <img src="hats/witch_hat.png">
            <img src="hats/sailor_hat.png">
            <img src="hats/frog_bucket_hat.png">
            <img src="hats/clown_wig.png">
            <img src="hats/duck_hat.png">
            <img src="hats/krusty_krab_hat.png">
            <img src="hats/straw_hat.png">
            <img src="hats/disguise.png">
            <img src="hats/sunglasses.png">
            <img src="hats/mario_hat.png">
            <img src="hats/gold_crown_hat.png">
            <img src="hats/plunger_hat.png">
            <img src="hats/pom_hat.png">
            <img src="hats/chef_hat.png">
            <img src="hats/cowboy_hat.png">
            <img src="hats/hard_hat.png">
            <img src="hats/kirby.png">
            <img src="hats/mushroom.png">
        </div>
    </section>

    <section id="emojis">
        <h2 class="section">Emojis</h2>
        <img src="emojis.png" style="max-height: 25em">
    </section>

    <style>
        #images img {
            max-height: 10em;
            margin-bottom: 1.5em;
        }
    </style>
</Page>
