@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
    --background: #212121;
    --text: #EEEEEE;
    --accent: #DDAA00;

    --dark: #1A1A1A;
    --light: #555555;
}

body {
    margin: auto;
    max-width: 45em;
    padding: 5em;

    font-family: Alata, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.section {
    line-height: 2em;
    margin-top: -5px;
    border-bottom: 1.5px solid var(--light);
}

a {
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}